<div class="flex items-center justify-between md:w-full p-2 xs:justify-center">
  <div class="flex-1">
  <button
  (click)="previous()"
  class="flex items-center gap-1 sm:px-3 xs:px-1 xs:text-xs sm:text-sm py-1 border rounded-md text-gray hover:bg-gray-100"
  [disabled]="currentPage === 1">
   <svg class="w-4 h-4" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.8333 9.99996H4.16666M4.16666 9.99996L9.99999 15.8333M4.16666 9.99996L9.99999 4.16663" 
          stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  Previous
</button>
  </div>

  <div class="flex justify-center flex-1">
    <ng-container *ngFor="let page of getPages()">
      <button
        *ngIf="page !== '...'; else dots"
        (click)="goToPage(page)"
        [ngClass]="{
          'bg-blue-100 text-gray font-bold': page === currentPage,
          'hover:bg-gray-100': page !== currentPage
        }"
        class="mx-1 px-3 py-1 rounded xs:text-xs ">
        {{ page }}
      </button>
      <ng-template #dots>
        <span class="mx-1 px-2 text-gray-400">...</span>
      </ng-template>
    </ng-container>
  </div>

  <div class="flex-1 flex justify-end">
 <button
  (click)="next()"
  class="flex items-center gap-1 sm:px-3 xs:px-1 py-1 xs:text-xs border rounded-md text-gray hover:bg-gray-100"
  [disabled]="currentPage === totalPages">
  Next
 
  <svg class="w-4 h-4" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M4.16666 10H15.8333M15.8333 10L10 4.16663M15.8333 10L10 15.8333"
          stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</button>

  </div>
</div>
