.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Make scrollbar thinner */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 4px;
}